@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Courgette', cursive;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 1px;

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
}

/* Header */

#header {
    width: 100%;
    background: rgb(248, 243, 243);
    color: black;
    position: fixed;
    z-index: 10;
    height: 12%;
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px inset rgb(230, 149, 0);
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.217);
    ;
}

#header h3 {
    height: 100%;
    padding-right: 30px;
    font-size: 1.7rem;
    cursor: pointer;
    background: url('../images/pizza-icon.png') no-repeat;
    background-size: 28px;
    background-position: right;
    display: flex;
    align-items: center;
}

#header ul {
    list-style: none;
    display: flex;
    gap: 2vw;
}

#header li {
    cursor: pointer;
    font-size: 1.2rem;
}

#header li:hover {
    color: rgb(104, 104, 104);
}

#header li:active {
    color: black;
}

.hamburger-menu {
    height: 20px;
    cursor: pointer;
    display: none;
}

.hamburger-menu:hover {
    background: rgba(217, 209, 209, 0.463);
}

/* home page */
.bg-image {
    position: relative;
    background: url('../images/pizza-image.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

#home-section {
    padding-top: 15vh;
    position: absolute;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    top: 0;
    left: 0;
    right: 0;
}

#home-section p {
    font-size: 1.5rem;
    width: 40%;
}

#home-section h1 {
    font-size: 3.8rem;
}

.btn {
    font-family: 'Courgette', cursive;
    padding: 10px 20px;
    background: rgb(239, 148, 1);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
}

.btn:hover {
    background: rgb(221, 136, 0);
}

.btn:active {
    background: rgb(239, 148, 1);
}

.bg-image::after {
    content: ' ';
    z-index: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}



@media only screen and (max-width: 1024px) {

    #home-section h1 {
        font-size: 3.2rem;
    }

    #home-section p {
        font-size: 1.3rem;
    }

}


@media only screen and (max-width: 768px) {

    /* header */
    #header {
        padding: 0.5rem 2.5rem;
    }

    #header h3 {
        font-size: 1.4rem;
        padding-right: 28px;
        background-size: 26px;
    }

    #header li {
        font-size: 0.8rem;
    }

    /* home section */

    #home-section h1 {
        font-size: 2.6rem;
    }

    #home-section p {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 500px) {
    #header ul {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    #header ul {
        background: #f5f4f2f4;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        align-items: space-between;
        justify-content: space-evenly;
        height: 30vh;
        width: 40%;
        border-top: 2px rgba(0, 0, 0, 0.533) solid;
    }

    #header li {
        border-bottom: 1px solid rgba(128, 128, 128, 0.19);
        padding: 5px;
    }

    #header li:last-child {
        border-bottom: none;
    }

    #home-section p {
        width: 60%;
    }

}